
.topPage{
    background: linear-gradient(to bottom, #eeb4de, white);
    padding-bottom: 50px;
}



.navbarstyles{
    width: 38%;
    margin-left: 30%;
    position: fixed;
    z-index: 1;
}

.contenttext{
    padding-top: 10%;
}

.logotitle{
    font-weight: bolder;
}

.searchs{
    width: 20%;
    text-align:center;
    margin-inline-start: 20px;
}

.searchinput{
    border-radius: 20px !important;
    border: 0.5px solid #FFE4B5;
    padding-block:8% ;
    width: 100%;
    background-color: white;
}

.searchinput:active{
    outline: none;
    border: none;

}
.searchinput:hover{
    background-color: #fa7733;
    color: white;
}

.liitemscolor{
    color: black !important;
}

.listitems{
    margin-left: 60px;
}

.textflow{
     text-align: center;
}

.Requestdemo{
    margin-top: 30px;
    border-radius: 20px;
    background-color: white;
    border: none;
    border: 0.5px solid #FFE4B5;
    height:45px;
    width: 150px;
}

.demo{
    text-align:center;
    align-content: center;
    }
.Getstartedfree{
    margin-left:30px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: white;
    border: none;
    height:45px;
    width: 180px;
    background-color: #fa7733;
    color: white;
}

.dasbode{
     margin :auto ;
     margin-top: 40px;
     display: block;
}

.clientele{
    text-align: center;
    margin-top: 40px;
}



.glogo{
margin-left: 80px;
}
.ozotec{
margin-left: 80px;
margin-top: 10px;
}

.ohoh{
   margin: auto;
   display: block;
}

.cardflow{
    display: flex;
    margin-top: 5%;
    padding-right:30px;
    margin-left: 6%;

}

.cardflows{
    display: flex;
    margin-top: 5%;
    padding-right:30px;
    margin-left: 6%;
    margin-bottom: 50px;
}

.laptop{
    margin-top:8%;
}

.profile{
    border:1px solid #FFE4B5 ;
    text-align: center;
    height:80%;
    width: 60%;
    margin-left:8%;
    margin-top: 5%;
    border-radius:20px;

}

.Requestdemos{
    display: block;
    border-radius: 20px;
    background-color: white;
    border: none;
    border: 0.5px solid #FFE4B5;
    height:55px;
    width: 160px;
    margin: auto;
}

.footerflow{
    width: 100%;
    margin:auto;
background-color: #0c0636;
margin-top: 7%;

}

.leftarrow{
    background-color: #FFE4B5;
}
.leftarrow:hover{
    background-color:#fa7733
}